@import "../../mixin";
.sectionTitle{
  margin-bottom: 50px;
  text-align: center;
  @media (max-width: 1200px) {
    margin-bottom: 30px;
  }
  &.hasBorderBottom{
    position: relative;
    z-index: 1;
    padding-bottom: 2px;
    @media (min-width: 768px) and (max-width: 991px) {
      padding-bottom: 1px;
    }
    @media (max-width: 767px) {
      padding-bottom: 0;
    }
    &:before{
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      height: 2px;
      width: 70px;
      background: #9978fb;
      transform: translateX(-50%);
    }
  }
  strong{
    font-size: 22px;
    color: $theme_color;
    font-weight: 600;
    position: relative;
    letter-spacing: 0;
    margin-bottom: 20px;
    padding-bottom: 11px;
    display: inline-block;
    @media (min-width: 992px) and (max-width: 1200px) {
      font-size: 20px;
      margin-bottom: 17px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      font-size: 19px;
      margin-bottom: 15px;
    }
    @media (max-width: 767px) {
      font-size: 16px;
      margin-bottom: 10px;
    }
    &:before,
    &:after{
      content: '';
      position: absolute;
      left: calc(50% - 50px);
      bottom: 0;
      z-index: -1;
      height: 2px;
      width: 70px;
      background: #5e5d5d;
    }
    &:after{
      left: calc(50% + 30px);
      width: 15px;
    }
  }
  h2{
    font-size: 36px;
    font-weight: 500;
    color: #272727;
    line-height: 51px;
    font-family: 'Futura', sans-serif;
    @media (min-width: 1201px) and (max-width: 1599px) {
      font-size: 35px;
      line-height: 45px;
    }
    @media (min-width: 992px) and (max-width: 1200px) {
      font-size: 32px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      font-size: 31px;
    }
    @media (max-width: 767px) {
      font-size: 23px;
      line-height: 34px;
    }
  }
  p{
    font-size: 16px;
    color: #444;
    margin: 0;
    line-height: 32px;
    margin-top: 23px;
    font-weight: 500;
    @media (min-width: 1201px) and (max-width: 1599px) {
      font-size: 16px;
    }
    @media (min-width: 768px) and (max-width: 1200px) {
      font-size: 15px;
    }
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
}