.allTeam{
  padding: 60px 0 0;
  @media (min-width: 1201px) and (max-width: 1599px) {
    padding-bottom: 0;
  }
  @media (min-width: 768px) and (max-width: 1200px) {
    padding-bottom: 60px;
  }
  @media (max-width: 767px) {
    padding-bottom: 40px;
  }
}