.contactInfoList{
  position: relative;
  z-index: 1;
  padding-top: 100px;
  @media (min-width: 768px) and (max-width: 1200px) {
    padding-top: 80px;
  }
  @media (max-width: 767px) {
    padding-top: 60px;
  }
  .bgShape10{
    position: absolute;
    left: 0;
    top: 35%;
  }
  .cntItem{
    text-align: center;
    -webkit-box-shadow: 0 0 25px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 0 25px rgba(0,0,0,0.05);
    box-shadow: 0 0 25px rgba(0,0,0,0.05);
    padding: 30px 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    .iconBox{
      position: relative;
      z-index: 1;
      height: 150px;
      width: 150px;
      line-height: 150px;
      border-radius: 50%;
      background: #fdfcfc;
      margin: auto;
      margin-bottom: 30px;
      border: 1px dashed #e8e8e8;
      box-shadow: inset 8px 8px 17px rgba(191, 191, 191, 0.07);
    }
    h2{
      font-size: 20px;
      color: #282828;
      font-weight: 600;
      line-height: 38px;
      margin-bottom: 20px;
      @media (min-width: 768px) and (max-width: 1200px) {
        font-size: 19px;
      }
    }
    ul{
      li{
        display: block;
        font-size: 15px;
        color: #767676;
        letter-spacing: 0;
        margin-bottom: 10px;
        @media (min-width: 768px) and (max-width: 1200px) {
          font-size: 16px;
        }
        @media (max-width: 767px) {
          font-size: 15px;
        }
      }
    }
  }
}